extends layouts/main

block meta
  title Евгения Гавришева

block content
  .about-me.bg-pattern
    .wrapper
      .each-topic
        .common-title Контакты
        p.list-unit Электронная почта: eva.volskaya8@gmail.com
      .each-topic
        .common-title Мои награды
        .row
          a(href='images/diploms/stihi.png' target='_blank').col-md-6
            img(src='images/diploms/stihi.png')
          a(href='images/diploms/zima-2017.jpg' target='_blank').col-md-6
            img(src='images/diploms/zima-2017.jpg' target='_blank')
      .each-topic
        .common-title Мои работы
        .list
          a(href='files/works/kurs-razvitie_myshlenia_v_vladshem_shkolnom_vozraste.docx').list-unit
            | Курсовая работа: Развитие мышления в младшем школьном возрасте
          a(href='files/works/metodicheskaya_kopilka_priemov_pedagogicheskikh_tekhnologii.docx').list-unit
            | Методическая копилка приемов педагогических технологий
          a(href='files/works/referat-tehnologiya_triz.docx').list-unit
            | Реферат: Технология ТРИЗ
          a(href='files/works/referat-ocobennosti_raboty_s_odarennymi_detmi.doc').list-unit
            | Реферат: Особенности работы с одаренными детьми
      
      .each-topic
        .common-title Фото моих уроков
        .row
          .col-md-6
            img(src='images/lesson/HeiQulqqwEk.jpg')
          .col-md-6
            img(src='images/lesson/s2Wh51ibGjE.jpg')
          .col-md-6
            img(src='images/lesson/oeRp20_VEWA.jpg')
          .col-md-6
            img(src='images/lesson/PKvy4MiQ3UY.jpg')
          .col-md-6
            img(src='images/lesson/qJPKQrzRYZg.jpg')
          .col-md-6
            img(src='images/lesson/jx7CEg6nUbc.jpg')
          .col-md-6
            img(src='images/lesson/v93BcY7tBCo.jpg')
          .col-md-6
            img(src='images/lesson/x3VFp2hXJtM.jpg')
      
      .each-topic
        .common-title Фото лагерной практики 2017
        .row
          .col-md-6
            img(src='images/camp/0kS-Jz3Q_3o.jpg')
          .col-md-6
            img(src='images/camp/1sBTCOiVwE0.jpg')
          .col-md-6
            img(src='images/camp/bs9fGLjA4dU.jpg')
          .col-md-6
            img(src='images/camp/osloZo-sA_g.jpg')
          .col-md-6
            img(src='images/camp/-cInYxDMrWo.jpg')
          .col-md-6
            img(src='images/camp/F53mG0mek-g.jpg')
          .col-md-6
            img(src='images/camp/g6BdQm9ec3Y.jpg')
          .col-md-6
            img(src='images/camp/HurWKbDBwNk.jpg')
          .col-md-6
            img(src='images/camp/KtU0HLHM5Qo.jpg')
          .col-md-6
            img(src='images/camp/ceB_vfLFeiA.jpg')

