extends layouts/main

block meta
  title Евгения Гавришева

block content
  .my-story.bg-pattern
    .wrapper
      .row
        .img.col-sm-5
          img(src='images/photo.jpg')
        .col-sm-7
          .title Моя история
          .text 
            p Здравствуйте, меня зовут Гавришева Евгения Ивановна, и мне посчастливилось выбрать самую лучшую профессию на свете. Я – учитель начальных классов. Её я получила в севастопольском педагогическом колледже имени П. К. Менькова, где начался мой педагогический путь. В этом месте меня научили, как учить, чему учить и почему так, а не иначе. Данный колледж предоставил мне возможность побывать как в роли учителя, так и в роли вожатой в лагере «Чайка». Огромная база практики позволила прочувствовать все тонкости данной профессии и понять, что я сделала правильный выбор.

        .col-md-12
            p И я бы очень хотела рассказать вам свою небольшую историю.

            p Эта история случилась со мной не так давно, как может показаться, и многие из тех, кому я её рассказала, не поверили мне. Но будьте уверены, всё это правда.

            p Мне тогда было всего 8 лет. И это был самый обычный вечер в моей жизни. Бабушка уже укладывала меня спать и я, как и каждый раз до этого, попросила её прочитать мне на ночь сказку. Однако в этот раз бабушка принесла мне книгу и сказала, что хочет, чтобы я почитала её сама. Тогда я не любила читать и, разумеется, не была рада такой просьбе, но делать было нечего. Я открыла книгу и начала читать…

            p Не успела я прочесть и несколько строк, как вдруг заметила белого кролика, который впопыхах пробежал по комнате и выбежал вон, но самое странное было не это… Кролик был в сюртуке, а в лапках держал карманные часы и что-то очень быстро говорил.

            p Бабушка, должно быть, уснула сразу, как только я открыла книгу, потому что никакого внимания она на это не обратила, только лишь отвернулась к стенке.

            p Я вскочила с кровати и побежала за ним. Так быстро, кажется, я ещё никогда не бегала… Я выбежала в сад, на улице стоял теплый летний вечер. Кролик промчался передо мной и шмыгнул в нору под старым большим деревом. Я с любопытством подошла ближе и сама не заметила, как провалилась туда.

            p Вы уже наверняка догадались, куда я попала. Мне посчастливилось очутиться в стране чудес и там меня ждали самые невероятные вещи и потрясающие существа. Как я вернулась обратно? Просто закрыла книгу. Но этот удивительный мир навсегда остался в моей памяти.

            p После этого я сумела сохранить ту тонкую, хрустальную нить, связующую меня с волшебным миром.

            p «Но как у меня это получилось?» - должно быть, спросите вы. Очень просто. Я смогла найти волшебную дверь в самую настоящую страну чудес. И дверью этой были книги. В каждой книге предо мной открывался новый, дивный мир, каждая из них давала мне множество ответов на самые интересные вопросы. И в каждой из книг скрывалась эта неизведанная, удивительная страна чудес – Страна Знаний.

            p А время всё шло, и я росла, но никогда не забывала про этот поразительный мир. И больше всего на свете мне хотелось показать его другим людям. Мне искренне хотелось, чтобы каждый смог заглянуть туда и увидеть его точно таким же, каким его видела я.

            p Но, к сожалению, у меня никак не получалось показать его взрослым или сверстникам, ведь у них всегда были свои заботы и важные дела. Поэтому я твердо решила, что этот потрясающий мир я обязательно покажу детям. Ведь именно им свойственно верить в сказки, именно они видят чудеса там, где взрослые их уже разучились замечать.

            p Я много думала об этом, и вскоре приняла одно из самых важных решений в своей жизни. Я решила стать учителем, чтобы показать детям, что у знаний есть своя страна и она удивительна, ведь там возможно найти абсолютно всё. И если найти нужную дверь, то эта страна обязательно покажет вам все свои чудеса и ответит на все ваши вопросы. 

      
